html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.si-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#main2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-container {
  flex: 1;
  overflow: auto;
  padding: 20px; /* Add padding for better readability */
}
