.app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .vanta-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .content-container {
    position: relative;
    z-index: 1;
    margin-top: 60px; /* Adjust the margin as needed to prevent content overlap with the fixed navbar */
  }
  
  /* Adjust the styles for the Navbar */
  Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  